<app-header></app-header>
<div class="container">
    <h1>Todo-List App</h1>
    <div>
        <form #taskform="ngForm" (ngSubmit)="onAdd(taskform)">
            <input type="text" placeholder="Type your Task..." [(ngModel)]="cardData.data" name="task">
            <button class="add" [ngClass]="{'dis': cardData.data.length===0}">Add</button>
        </form>
    </div>
    <ng-container *ngIf="cardDataList">
        <div class="data" *ngFor="let data of cardDataList; index as i">
            <div class="button-css">
                <p class="style-inputp">{{data.data}}</p>
                <button class="edit"><span class="material-icons">edit</span></button>
                <button class="delete" (click)="onDelete(i)"><span class="material-icons">clear</span></button>
            </div>
            <hr class="set">
        </div>
    </ng-container>
</div>
