
.navItem{
  background: rgb(157, 128, 73);
  height:65px;  
  width:100%;
}

label{
  color: #fff;
  line-height: 60px;
  font-size: 3.25em;
  font-weight: bold;
  padding: 0px 40px;
}

nav input{
    float: right;
    margin:25px;
    border-radius: 14px;
    width:15%;
    max-width: 20%;
    min-width: 20%;
    height: 30px;
    border: none;
    text-indent: 10px;
}